# MindVault Configuration
PORT_MINDVAULT=3000
NODE_ENV=development

# PostgreSQL (docker-compose: host localhost, port 5434 para no conflictuar con signal)
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=mindvault_db
POSTGRES_USER=mindvault_user
POSTGRES_PASSWORD=mindvault_password
POSTGRES_DATA_PATH=./pgdata
